.about{
    .about-text {
        position: absolute;
        left: 10%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        // width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;
        p {
            font-size: 13px;
            line-height: 18px;
            color: #fff;
            font-family: "Open Sans", sans-serif;
            font-weight: 300
        }
       
        h1 {
            font-size: 53px;
            font-family: font-file-82132;
            color: #08fdd8;
            font-weight: 400;
            margin-top: 0;
            position: relative;
            margin-bottom: 40px;
            z-index: 4444444444444444444444;
            .about-letter {
                will-change: transform;
                opacity: 0;
                -webkit-transition: all .3s ease-out;
                transition: all .3s ease-out
            }
        }
    
    }    
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    @keyframes spin-negative {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(-360deg);
        }
    }
    @keyframes spinY {
        from {
            transform: rotateY(0deg);
            -webkit-transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            -o-transform: rotateY(0deg);
    }
        to {
            transform: rotateY(360deg);
            -webkit-transform: rotateY(360deg);
            -moz-transform: rotateY(360deg);
            -ms-transform: rotateY(360deg);
            -o-transform: rotateY(360deg);
    }
    }
    @keyframes spinY-negative {
        from {
            transform: rotateY(0deg);
            -webkit-transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            -o-transform: rotateY(0deg);
    }
        to {
            transform: rotateY(-360deg);
            -webkit-transform: rotateY(-360deg);
            -moz-transform: rotateY(-360deg);
            -ms-transform: rotateY(-360deg);
            -o-transform: rotateY(-360deg);
    }
    }
    .about-planet{
        position: absolute;
        right: 0px;
        top: 0px;
        bottom: 0px;
        height:100vh;
        width: 50%;    
        
      
        .about-mainPlanet {
            position: absolute;
            width: 49%;
            height: 37%;
            background-image: url(http://www.carolinevanaerschot.be/img/earth.svg);
            background-repeat: no-repeat;
            left: 0;
            right: 0;
            margin: auto;
            top: 0;
            bottom: 0;
            animation: spin 12s linear 0s infinite;
            -webkit-animation: spin 12s linear 0s infinite;
            img {
                width: 15%;
                transform:rotate(90deg);
                -webkit-transform:rotate(90deg);
                -moz-transform:rotate(90deg);
                -ms-transform:rotate(90deg);
                -o-transform:rotate(90deg);
            }
        }
        
        .about-smallPlanet {
            width: 100%;
            height: 100%;
            position: absolute;
        }
        
        .photoshop {
            animation: spin 12s linear 0s infinite;
            -webkit-animation: spin 12s linear 0s infinite;
            img{
                animation: spin-negativeY 5s linear 0s infinite;
                -webkit-animation: spin-negativeY 5s linear 0s infinite;
        }
        }
        .html {
            animation: spin-negative 7s linear 0s infinite;
            -webkit-animation: spin-negative 7s linear 0s infinite;
            img{
                animation: spin 12s linear 0s infinite;
                -webkit-animation: spin 12s linear 0s infinite;
        }
        }
        .illustrator {
            animation: spin-negative 9s linear 0s infinite;
            -webkit-animation: spin-negative 9s linear 0s infinite;
            img {
                animation: spin-negative 3s linear 0s infinite;
                -webkit-animation: spin-negative 3s linear 0s infinite;
                top: 0px;
                position: absolute;
        }
          
        }
        
        
        .css {
            animation: spin-negative 8s linear 0s infinite;
            -webkit-animation: spin-negative 8s linear 0s infinite;
            img {
                animation: spin-negativeY 3s linear 0s infinite;
                -webkit-animation: spin-negativeY 3s linear 0s infinite;
        }
        }
        .svg {
            animation: spin 7s linear 0s infinite;
            -webkit-animation: spin 7s linear 0s infinite;
          img
                {
                        animation: spin-negativeY 3s linear 0s infinite;
                        -webkit-animation: spin-negativeY 3s linear 0s infinite;
                }
        }
        .javascript {
            animation: spin 10s linear 0s infinite;
            -webkit-animation: spin 10s linear 0s infinite;
            img {
                top: -17px;
                position: absolute;
                animation: spinY 5s linear 0s infinite;
                -webkit-animation: spinY 5s linear 0s infinite;
        }
        }
        
        
        
    }
} 

