.home-page {
    .text-zone {
        position: relative;
        left: 10%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 41%;
        max-height: 90%;
        text-align: center;

        a {
            font-weight: 400
        }

        h1 {
            color: #fff;
            font-size: 56px;
            line-height: 53px;
            margin: 0;
            font-family: font-file-82132;
            font-weight: 400;
            z-index: 4444444444;

            img {
                position: relative;
                top: -5px;
                opacity: 0;
                width: 32px;
                height: auto
            }
        }

        h2 {
            color: #8d8d8d;
            margin-top: 9px;
            font-weight: 400;
            font-size: 11px;
            font-family: "Open Sans", sans-serif;
            letter-spacing: 3px;
            -webkit-animation: myanim2 1s 1.8s backwards;
            animation: myanim2 1s 1.8s backwards;
            text-align: center;

        }

        .flat-button {
            color: #08fdd8;
            font-size: 11px;
            letter-spacing: 4px;
            font-family: "Open Sans", sans-serif;
            text-decoration: none;
            padding: 8px 12px;
            border: 1px solid #08fdd8;
            margin-top: 25px;
            border-radius: 3px;
            -webkit-animation: myanim2 1s 1.8s backwards;
            animation: myanim2 1s 1.8s backwards;
            display: inline-block;
            margin: 0 auto;
            text-align: center;
            z-index:4444444444444444;
        }

        .flat-button:hover {
            background: #08fdd8;
            color: #252627;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
        }

        .blast {
            opacity: 0;
            display: inline-block;
            -webkit-transition: all .3s ease-out;
            transition: all .3s ease-out
        }

        .blast:hover {
            color: #08fdd8
        }

    }
    // .particles{
    //     position: absolute;
    //     top:0;
    // }

}

.flat-button {
    white-space: nowrap
}

.blast {
    display: inline-block
}

.bg {
    position: relative;
    z-index: 0;
    width: 400px;
    height: 609px;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto
}

.bg svg {
    width: 100%;
    height: auto;
    bottom: 0
}

@keyframes myanim {
    0% {
        top: -2000px;
        left: -400px;
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes myanim {
    0% {
        top: -2000px;
        left: -400px;
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes myanim2 {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes myanim2 {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes myanim3 {
    0% {
        opacity: 0;
        top: -20px
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes myanim3 {
    0% {
        opacity: 0;
        top: -20px
    }

    100% {
        opacity: 1
    }
}