
@media (min-width:1024px) {
    #mobile-link{
        display: none!important;
    }
}
@media (min-width:1100px) and (min-height:900px) {
    #mobile-link{
        display: none!important;
    }
    #environment{
        width: 50%;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
   
    h1 {
        font-size: 73px !important;
        line-height: 67px !important
    }

    .home-page h2 {
        font-size: 14px !important
    }

    .text-zone p {
        font-size: 16px !important;
        line-height: 21px !important
    }

   

    .bg {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2)
    }

    .home-page h1 img {
        width: 38px
    }
  
}

@media (min-width:960px) and (max-height:800px) {
    #mobile-link{
        display: none;
    }
}

@media (max-width:1024px) {
 
    .homepage-title {       
        width: 50%;       
    }
    #mobile-link{
        display: none;
    }
    .container.contact .text-zone {
        width: 36%;
    }

    .inf-map {
        top: -10px;
        right: 25%
    }

    h1 {
        font-size: 54px !important;
        line-height: 45px
    }

    .container.about .text-zone {
        width: 40%
    }

   
    .home-page .text-zone,
    .text-page .text-zone {
        width: 80%;
        min-height: 0
    }

    .text-page .right-col {
        margin-top: 10px;
        position: static !important;
        max-height: auto;
        float: left;
        margin-left: 10%;
        -webkit-transform: none !important;
        -ms-transform: none !important;
        transform: none !important
    }

    .bg {
        width: 263px;
        height: 400px
    }
}

@media (max-width:800px) and (orientation :landscape) {
  


}
@media (max-width:800px) {
    #mobile-link{
        display: none;
    }
    .homepage-title {       
        width: 84%;
    }
    .objects_Caro{
        width: 100%;
        height: 100%;
        position: absolute;
    }

}


@media (max-width:960px) {
 
    #world {
        position: relative !important;
        width: 90% !important;
        height: auto !important;
        margin: auto
    }
    #nav_bar {     
       position: relative;  
            img{
                width: 70%;
            }        
    }
    #page {
        height: auto;
        position: relative
    }

    .skills-charts {
        position: relative;
        left: 0;
        width: 80%;
        top: 0;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        clear: both;
        margin: auto;
        overflow: hidden
    }

    .white .logo {
        padding-bottom: 4px
    }

    #nav_bar {
        width: 100%;
        height: 60px;
        // position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        min-height: 0
    }

    .white #nav_bar {
        border-right: 0;
        border-bottom: 1px solid #f4f4f4
    }

    .logo {
        float: left;
        padding: 2px 0;
        margin-right: 20px;
        height: 60px;
        padding: 10px;
    }

    .logo img {
        display: block;
        margin: 5px 15px;
        width: auto;
        height: auto
    }

    .logo>img:first-child {
        height: 30px
    }

    .lang {
        float: left;
        width: auto;
        margin-top: 0;
        line-height: 60px
    }

    .lang a {
        margin-top: 0;
        display: inline;
        margin-right: 7px
    }

    #nav_bar nav {
        width: 42%;
        position: absolute;
        left: 50%;
        margin-left: -19%;
        float: left;
        overflow: hidden;
        text-align: center;
        height: 60px;
        top: 0;
        margin-top: 0;
        padding:0;
    }

    #nav_bar nav a {
        float: left;
        margin-left: 14%;
        line-height: 60px;
        height: 60px;
        padding:0;
    }

    #nav_bar nav a:first-child {
        margin-left: 0
    }

    #nav_bar ul {
        position: static;
        bottom: 20px;
        width: auto;
        height: 60px;
        line-height: 60px;
        display: block;
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0;
        float: right
    }

    #nav_bar ul li {
        float: right;
        height: 60px;
        line-height: 60px;
        margin: 0 10px;
        padding:0;
    }

    #nav_bar ul li a {
        line-height: 60px;
        padding: 0
    }

    .container {
        width: 100%;
        height: auto;
        padding-bottom: 58px;
        box-sizing: border-box;
        position: relative;
        top: 0;
        // overflow: hidden;
        height: 100vh;
    }
    .mainPlanet {
   
        height: 23%;
     
    }
    .bg {
        right: 0;
        left: 0;
        opacity: .5
    }

      
    .text-zone {
        position: static !important;
        max-height: auto;
        min-height: 350px;
        float: left;
        margin-left: 10%;
        -webkit-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
        margin-top: 170px
    }

    .about .about-text,.home-page .homepage-title 
     {
        width: 80%;
        min-height: 0
    }

   

  
   
    // .container.contact .contact- {
    //     width: 80%
    // }

    .map-wrap {
        float: none;
        width: 80%;
        margin-left: 10%;
        height: 320px;
        clear: both
    }

    .inf-map {
        top: auto;
        right: 5%;
        bottom: 50px
    }
}

@media (max-width:750px) {
    .about-planet {
        display: none;
    }
    #nav_bar nav a {
        margin-left: 10%
    }

    h1 {
        font-size: 45px !important;
    line-height: 40px !important;
    } 
}

@media (max-width:530px) {   
    .about{
        .about-text{
            width: 90%;
        }
        .about-planet {
            display: none;
        }
        
    }
   
    .homepage {
        .homepage-title {
            width: 87%;
        }
        .bg-space{
            display:none;
        }
      
        #environment .dust {
        -webkit-animation: dust .9s infinite ease-in;
        animation: dust .9s infinite ease-in;
        background: rgba(211, 211, 211, 0.36);
        border-radius: 50%;
        -webkit-box-shadow: 0 0 0.5rem 0 rgba(128, 128, 128, 0.5);
        box-shadow: 0 0 0.5rem 0 rgba(128, 128, 128, 0.5);
        height: 14px;
        position: fixed;
        width: 6px;
        left: 50%;
    }
  
    }
    h1 {
        font-size: 37px !important;
        line-height: 40px !important;
    }
   
    #mobile-link {
        font-size: 30px;
        color: #fff;
        float: right;
        margin: 10px 20px 10px 10px;
        display: block
    }
header{
    #nav_bar ul {
        display: none
    }

    .home-page .text-zone {
        width: 85%;
        left: 5%
    }
    #planetset{
        display:none!important;
    }
    body {
        overflow-x: hidden
    }
    #environment{
        opacity: 0.2;
     
    }
    .home-page h1:after {
        display: none
    }
    #nav_bar nav {
        width: 100%;
        position: absolute;
        left: 0;
        opacity: 0;
        margin-left: 0;
        float: left;
        overflow: hidden;
        text-align: center;
        height: 60px;
        top: 60px;
        margin-top: 0;
        background: #181818;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out
    }
    .white #nav_bar nav {
        background: #fff
    }
    .logo h1{
        position: relative;
        width: 51px;
        margin: 0!important;
    }
    #nav_bar nav a {
        float: left;
        margin-left: 0 !important;
        line-height: 60px;
        height: 60px;
        width: 20%;
    }

    #nav_bar nav.show {
        left: 0;
        opacity: 1
    }

}
  
   

  
.container.contact .text-zone {
    width: 83%;
}
  

    .contact-form ul li.half {
        width: 100%;
        margin-left: 0
    }

 
}
